<!DOCTYPE html>
<html>
<head>
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}
</style>
</head>
<body>

<br>

<h1>All users</h1>
<a href= "{% url 'expireduser' %}">check expired users</a>
<br>
<a href= "{% url 'validuser' %}">check current users</a>

<br>

<table>
  <tr>
    <th>User ID</th>
    <th>Expire in (days)</th>		
    <th>Data left (Mb)</th>
    <th>Already deleted</th>
  </tr>

  <tr>
  	{% if user_list %}
	  <ul>
	    {% for user in user_list %}
	    <tr>
	      <th>{{ user.account_id }}</th>
	      <th>{{ user.valid_days }}</th>
	      <th>{{ user.data_left }}</th>
	      <th>{{ user.is_deleted }}</th>
	    </tr>
	    {% endfor %}
	  </ul>
	{% endif %}
  </tr>
</table>

</body>
</html>